
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Roboto,sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    background: #F8F8FA;
}

.container {
    padding: 0px;
    max-width: 100%;
}

.bar {
    background:#0A66C2;
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

.card .header {
    display: flex;
    padding: 22px 18px 0 18px;
    width: 100%;
    justify-content: space-between;
    align-items: inherit;
    color: #F8F8FA;
    z-index: 10;
}

.card .header i {
    margin-top: 10px;
    font-size: 18px;
}

.card .main {
    height: 54.20340975896531vh;
}

.card .details {
    text-align: center;
    width: 100%;
}

.card .details h3 {
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.card .details span {
    text-transform: uppercase;
    font-size: 13px;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.card-container {
    width: 90%;
}

.profile-card {
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-top: 71px;
    border-radius: 5px;
    box-shadow: -1px 3px 15px -5px rgba(0, 0, 0, 0.45);
    padding-top: 20px;
    padding-bottom: 10px;
}

.profile-card__image {
    margin: 0 auto;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -57px;
    left: 50%;
    margin-left: -70px;
}

.profile-card__image img {
    max-width: 100%;
    max-height: 100%;
}

.profile-details .numbers {
    display: flex;
    justify-content: space-between;
    padding: 13px 20px 0 20px;
}

.profile-details .numbers .follower div:first-child {
    font-size: 1.4em;
    font-weight: 500;
}

.profile-details .numbers .travels div:first-child {
    font-size: 1.4em;
    font-weight: 500;
}

.profile-details button {
    margin-top: 8px;
    width: 60%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #0A66C2;
    color: #F8F8FA;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
}

.notification {
    width: 25px;
    height: 25px;
    background-color: #F8F8FA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A66C2;
}

.pinned-social-work__label {
    text-transform: uppercase;
    font-size: 0.9em;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.pinned-social-work {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    height: 152px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -1px 3px 15px -5px rgba(0, 0, 0, 0.45);
}

.pinned-social-work__photographs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex: 1 1 50%;
    padding: 19px 15px;
}

.pinned-social-work__description {
    text-align: left;
    letter-spacing: 1px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #404040;
}

.pinned-social-work__itenary {
    font-size: 12px;
    text-align: left;
}
.pinned-social-work__itenary span {
    margin: 3px;
}

.pinned-social-work__moredetails {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #0A66C2;
}

.pinned-social-work__map {
    flex: 1 1 8%;
    background-color: #d9d6d5;
    border-radius: 0 0 0 0;
    overflow: hidden;
}

.pinned-social-work__map img {
    width: 100%;
}

.planned-social-works {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 5px;
}

.planned-social-works__card {
    display: flex;
    align-items: center;
    flex: 0 0 90px;
    background-color: #F8F8FA;
    margin: 7px 1px;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 0px 0px 5px 1px #c7c1c7;
}

.planned-social-work__image {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.planned-social-work__image img {
    max-width: 100%;
    max-height: 100%;
}

.planned-social-work__image i {
    font-size: 200px;
}

.planned-social-work__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 3 3 60%;
    padding: 10px;
}
.planned-social-work__description > span {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: #404040;
}

.pinned-social-work__itenary {
    margin-top: 6px;
    text-transform: uppercase;
}

.pinned-social-work__itenary span:nth-of-type(2),
.pinned-social-work__itenary i {
    margin: 0;
    color: #a9a29f;
}

.card_empty {
    display: none;
}

#card_content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .pinned-social-work__map {
        flex: 1 1 50%;
    }
}